<template>
    <div id="message">
        <h1>Coming soon</h1>
        <p>
            This MDT is currently under development. While it has many working
            features, some of the functionality has not yet been added. If you
            are seeing this message it is because the area you are trying to
            access is not yet complete. Thank you for your patience, new
            functionality is being added as soon as development of it is
            complete.
        </p>
    </div>
</template>

<style scoped>
#message {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.1em;
    width: 70%;
    margin: 30px auto;
}
h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}
</style>
